@import url("./github-markdown.css") screen;
@import url("./github-dark.css") screen and (prefers-color-scheme: dark);
@import url("./github.css") screen and (prefers-color-scheme: light);

.markdown-body .anchor-heading {
  position: relative;
}

.markdown-body .anchor-link {
  position: absolute;
  width: 28px;
  left: -28px;
  height: calc(100%);
  padding-right: 8px;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  visibility: hidden;
  opacity: 0;
}

.markdown-body .anchor-heading:hover .anchor-link {
  visibility: visible;
  opacity: 1;
}
