@import url("./github-markdown.css") screen;
@import url("./github-dark.css") screen and (prefers-color-scheme: dark);
@import url("./github.css") screen and (prefers-color-scheme: light);

.markdown-body .anchor-heading {
  display: block;
  position: relative;
  color: inherit;
  &:hover {
    text-decoration: inherit;
  }
}

.markdown-body .anchor-link {
  position: absolute;
  width: 64px;
  left: -64px;
  text-align: right;
  padding-right: 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.markdown-body .anchor-heading:hover .anchor-link {
  visibility: visible;
  opacity: 0.5;
}
